.container {
    max-width: 1200px;
}

.main-primary {
    background-image: url(../../public/assets/images/main-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    height: 88vh;
    border-radius: 7px;
    border: 2px solid #000;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: #fff;


}

body {
    background-color: #161616;
}

#contentBox {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}


#contentBox h2 {
    text-transform: uppercase;
    font-family: cursive;
    font-weight: 700;
}